body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: #fff;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
    color: #f8f8f8;
  }

  .footer {
    background-color: #f8f8f8;
    color: #777;
    text-align: center;
    padding: 10px;
  }

  .footer .social-icons {
    font-size: 24px;
    margin-top: 10px;
  }

  .footer .social-icons a {
    color: #428bca;
    margin: 0 10px;
  }

  .footer .social-icons a:hover {
    color: #31708f;
  }

  .main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }